@font-face {
  font-family: "Trebuchet MS";
  src: url("./assets/fonts/Trebuchet MS/trebuchetms.ttf") format('ttf');
  font-weight: normal;
  font-style: normal;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  min-height: 100vh;
  background-image: url("./assets/images/main-bg.png");
  /*background: linear-gradient(180deg, rgba(0, 0, 0, 0.5) 0%, rgba(0, 0, 0, 5e-05) 49.88%, rgba(0, 0, 0, 0.5) 100%);*/
  font-family: 'Trebuchet MS', sans-serif;
  font-size: 14px;
  font-weight: 400;
  line-height: 16px;
}

